In [18]:
pip install pyspark 2.4.3

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.2)
ERROR: Could not find a version that satisfies the requirement 2.4.3 (from versions: none)
ERROR: No matching distribution found for 2.4.3

In [19]:
pip install avro

Requirement already satisfied: avro in /usr/local/lib/python3.10/dist-packages (1.12.0)

## Запись данных в форматы Avro, Parquet и ORC

Запись данных в Avro

In [16]:
from pyspark.sql.avro.functions import from_avro, to_avro

In [20]:
from pyspark.sql import SparkSession

# Создание SparkSession
spark = SparkSession.builder.appName("Write Avro Example").getOrCreate()

# Пример данных
data = [("Alice", 25), ("Bob", 30), ("Cathy", 29)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Запись данных в Avro
df.write.to_avro.save("avro")

AttributeError: 'DataFrameWriter' object has no attribute 'to_avro'

Запись данных в Parquet

In [9]:
from pyspark.sql import SparkSession

# Создание SparkSession
spark = SparkSession.builder.appName("Write Parquet Example").getOrCreate()

# Пример данных
data = [("Alice", 25), ("Bob", 30), ("Cathy", 29)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Запись данных в Parquet
df.write.parquet("parquet")

Разделение на разные паркет файлы по Age

In [21]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
.appName("Save") \
.config("spark.master", "local[*]") \
.getOrCreate()

data = [("Alice", 29), ("Bob", 25), ("Charlie", 32)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)

df.write.partitionBy("Age").parquet("time", mode="overwrite")

spark.stop()

Запись данных в ORC

In [10]:
from pyspark.sql import SparkSession

# Создание SparkSession
spark = SparkSession.builder.appName("Write ORC Example").getOrCreate()

# Пример данных
data = [("Alice", 25), ("Bob", 30), ("Cathy", 29)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Запись данных в ORC
df.write.orc("orc")

## Чтение данных из форматов Avro, Parquet и ORC

Чтение данных из Avro

In [ ]:
# Чтение данных из Avro
df_avro = spark.read.format("avro").load("avro")
df_avro.show()

 Чтение данных из Parquet

In [11]:
# Чтение данных из Parquet
df_parquet = spark.read.parquet("parquet")
df_parquet.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 29|
+-----+---+

Чтение данных из ORC

In [12]:
# Чтение данных из ORC
df_orc = spark.read.orc("orc")
df_orc.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 30|
|Cathy| 29|
+-----+---+